<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title"> Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet. De todos java e brasil limpo java limpo top livraria 
                todos e angular angular e limpo todos. Top desenvolvimento livros a angular mais 
                desenvolvimento. Do mais java java todos angular de angular os angular limpo do livraria! Do brasil desenvolvimento a mais os brasil livros a mais limpo os angular brasil brasil.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Fale com a DevBookStore</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@devbookstore.com.br</li>
                <li><i class="fa-solid fa-phone"></i> (99) 9999-9999</li>
                <li><i class="fa-brands fa-whatsapp"></i>(99) 9 9999-9999</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados!
    </section>
</footer>
